USE [master]
GO
/****** Object:  Database [Ecomerce2019]    Script Date: 06/12/2019 17:32:41 ******/
CREATE DATABASE [Ecomerce2019]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecomerce2019', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Ecomerce2019.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ecomerce2019_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Ecomerce2019_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecomerce2019].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecomerce2019]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[ViewPage] [varchar](7) NULL,
	[idCategoria] [int] NULL,
	[id_Horario] [int] NULL,
	[idDistrito] [int] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Review]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[IdDoctor] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Review] [varchar](500) NULL,
	[Rate] [int] NULL,
	[Fecha] [datetime] NULL,
	[isDelete] [bit] NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_admin]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_admin](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[usuarioAdmin] [varchar](30) NOT NULL,
	[contraseñaAdmin] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_Categoria]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_Categoria](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nomCtegoria] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_Cliente]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nomCliente] [varchar](50) NOT NULL,
	[apeCliente] [varchar](50) NOT NULL,
	[dniCliente] [char](8) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[edad] [int] NULL,
	[genero] [varchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[idDistrito] [int] NULL,
	[correo] [varchar](50) NULL,
	[telefono] [char](9) NULL,
	[direccion] [varchar](50) NULL,
	[foto] [varchar](200) NULL,
	[notas] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_ClienteEx]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_ClienteEx](
	[id] [nvarchar](128) NOT NULL,
	[nomCliente] [varchar](50) NOT NULL,
	[apeCliente] [varchar](50) NOT NULL,
	[dniCliente] [char](8) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](50) NOT NULL,
	[edad] [int] NULL,
	[genero] [varchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[idDistrito] [int] NULL,
	[Email] [varchar](256) NULL,
	[telefono] [char](9) NULL,
	[direccion] [varchar](50) NULL,
	[foto] [varchar](200) NULL,
	[notas] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_DetalleEnvio]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_DetalleEnvio](
	[idDetalleEnvio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](20) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[idDistrito] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_detalleOrden]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_detalleOrden](
	[idOrden] [int] NOT NULL,
	[idDoctor] [int] NOT NULL,
	[precioUnidad] [decimal](18, 0) NULL,
	[cantidad] [int] NULL,
	[descuento] [decimal](18, 0) NULL,
	[cantidadTotal] [decimal](18, 0) NULL,
	[fechaOrden] [datetime] NULL,
 CONSTRAINT [PK_tb_detalleOrden] PRIMARY KEY CLUSTERED 
(
	[idOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_Distrito]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_Distrito](
	[idDistrito] [int] IDENTITY(1,1) NOT NULL,
	[nomDistrito] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_Doctor]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_Doctor](
	[idDoctor] [int] IDENTITY(1,1) NOT NULL,
	[nomDoctor] [varchar](50) NOT NULL,
	[dniDoctor] [char](8) NOT NULL,
	[cmpDoctor] [char](6) NOT NULL,
	[idCategoria] [int] NOT NULL,
	[id_Horario] [int] NOT NULL,
	[dirDoctor] [varchar](50) NOT NULL,
	[idDistrito] [int] NULL,
	[telDoctor] [varchar](50) NOT NULL,
	[emailDoctor] [varchar](50) NOT NULL,
	[Precio] [decimal](18, 0) NOT NULL,
	[PrecioAnterior] [decimal](18, 0) NULL,
	[ImageURL] [varchar](500) NULL,
	[TextoAlternativo] [varchar](50) NULL,
	[caracteristica1] [varchar](50) NULL,
	[caracteristica2] [varchar](50) NULL,
	[caracteristica3] [varchar](50) NULL,
	[caracteristica4] [varchar](50) NULL,
	[caracteristica5] [varchar](50) NULL,
	[Placa] [bit] NULL,
	[TituloOferta] [varchar](50) NULL,
	[ClaseDistintaOferta] [varchar](50) NULL,
	[DescripcionCorta] [varchar](300) NULL,
	[DescripcionLarga] [varchar](2000) NULL,
	[nota] [varchar](250) NULL,
	[agregarCarro] [bit] NULL,
	[caracteristica6] [nvarchar](50) NULL,
	[caracteristica7] [nvarchar](50) NULL,
	[caracteristica8] [nvarchar](50) NULL,
	[porc1] [nvarchar](50) NULL,
	[porc2] [nvarchar](50) NULL,
	[porc3] [nvarchar](50) NULL,
	[porc4] [nvarchar](50) NULL,
	[idUser] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDoctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_Horario]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_Horario](
	[id_Horario] [int] IDENTITY(1,1) NOT NULL,
	[dia] [varchar](50) NOT NULL,
	[horaApertura] [varchar](50) NULL,
	[horaCierre] [varchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_ListaDeseos]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ListaDeseos](
	[idListaDeseos] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[idDoctor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idListaDeseos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_ListaDeseosExt]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ListaDeseosExt](
	[idListaDeseos] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [nvarchar](128) NOT NULL,
	[idDoctor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idListaDeseos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_Orden]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_Orden](
	[idOrden] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[idPago] [int] NULL,
	[idDetalleEnvio] [int] NULL,
	[descuento] [int] NULL,
	[impuestos] [int] NULL,
	[cantidadTotal] [int] NULL,
	[fechaOrden] [datetime] NULL,
	[fechaEnvio] [datetime] NULL,
	[enviado] [bit] NULL,
	[entregar] [bit] NULL,
	[fechaEntrega] [datetime] NULL,
	[notas] [varchar](500) NULL,
	[cancelarOrden] [bit] NULL,
	[Completo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_OrdenExt]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_OrdenExt](
	[idOrden] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [nvarchar](128) NOT NULL,
	[idPago] [int] NULL,
	[idDetalleEnvio] [int] NULL,
	[descuento] [int] NULL,
	[impuestos] [int] NULL,
	[cantidadTotal] [int] NULL,
	[fechaOrden] [datetime] NULL,
	[fechaEnvio] [datetime] NULL,
	[enviado] [bit] NULL,
	[entregar] [bit] NULL,
	[fechaEntrega] [datetime] NULL,
	[notas] [varchar](500) NULL,
	[cancelarOrden] [bit] NULL,
	[Completo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_Pago]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Pago](
	[idPago] [int] IDENTITY(1,1) NOT NULL,
	[idTipoPago] [int] NOT NULL,
	[MontoCrediyo] [money] NULL,
	[CantidadDebito] [money] NULL,
	[FechaPago] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_TipoPago]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_TipoPago](
	[idTipoPago] [int] IDENTITY(1,1) NOT NULL,
	[nomTipoPago] [varchar](50) NOT NULL,
	[Deescripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_VistaReciente]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_VistaReciente](
	[idVistaReciente] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[idDoctor] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[notas] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idVistaReciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'117187948848402819628', N'32c8ff64-d235-44a5-932a-e1dd7e986cd6')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'107090609728393799639', N'67dc0de4-39c7-46bd-b03e-9d5b9a15cf33')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'113061552684562177264', N'aa4012bc-edce-497a-8801-a3edf826ce53')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ViewPage], [idCategoria], [id_Horario], [idDistrito]) VALUES (N'32c8ff64-d235-44a5-932a-e1dd7e986cd6', N'maria.gonzalespineda14@gmail.com', 0, N'0', N'8403bfdc-b74f-46f9-b4fc-9d319188d16f', NULL, 0, 0, NULL, 1, 0, N'maria.gonzalespineda14@gmail.com', NULL, 1, 1, 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ViewPage], [idCategoria], [id_Horario], [idDistrito]) VALUES (N'67dc0de4-39c7-46bd-b03e-9d5b9a15cf33', N'geralhq@gmail.com', 0, N'1', N'd6c4e890-84b2-42de-81b4-d61c2a412478', NULL, 0, 0, NULL, 1, 0, N'geralhq@gmail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ViewPage], [idCategoria], [id_Horario], [idDistrito]) VALUES (N'aa4012bc-edce-497a-8801-a3edf826ce53', N'huaman.guevara.99@gmail.com', 0, N'1', N'3e2d1d51-a174-4fe5-9c71-8d2a889ec450', NULL, 0, 0, NULL, 0, 0, N'huaman.guevara.99@gmail.com', NULL, 2, 2, 2)
SET IDENTITY_INSERT [dbo].[tb_admin] ON 

INSERT [dbo].[tb_admin] ([idAdmin], [usuarioAdmin], [contraseñaAdmin]) VALUES (1, N'admin', N'123')
SET IDENTITY_INSERT [dbo].[tb_admin] OFF
SET IDENTITY_INSERT [dbo].[tb_Categoria] ON 

INSERT [dbo].[tb_Categoria] ([idCategoria], [nomCtegoria]) VALUES (1, N'Medicina General')
INSERT [dbo].[tb_Categoria] ([idCategoria], [nomCtegoria]) VALUES (2, N'Cardiología')
INSERT [dbo].[tb_Categoria] ([idCategoria], [nomCtegoria]) VALUES (3, N'Medicina Interna')
SET IDENTITY_INSERT [dbo].[tb_Categoria] OFF
SET IDENTITY_INSERT [dbo].[tb_Cliente] ON 

INSERT [dbo].[tb_Cliente] ([idCliente], [nomCliente], [apeCliente], [dniCliente], [usuario], [contraseña], [edad], [genero], [fechaNacimiento], [idDistrito], [correo], [telefono], [direccion], [foto], [notas]) VALUES (1, N'Maria', N'Perez', N'78954212', N'maria', N'maria', 22, N'F', NULL, 1, N'maria', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Cliente] OFF
SET IDENTITY_INSERT [dbo].[tb_Distrito] ON 

INSERT [dbo].[tb_Distrito] ([idDistrito], [nomDistrito]) VALUES (1, N'Miraflores')
INSERT [dbo].[tb_Distrito] ([idDistrito], [nomDistrito]) VALUES (2, N'Surco')
INSERT [dbo].[tb_Distrito] ([idDistrito], [nomDistrito]) VALUES (3, N'San Isidro')
SET IDENTITY_INSERT [dbo].[tb_Distrito] OFF
SET IDENTITY_INSERT [dbo].[tb_Doctor] ON 

SET IDENTITY_INSERT [dbo].[tb_Doctor] OFF
SET IDENTITY_INSERT [dbo].[tb_Horario] ON 

INSERT [dbo].[tb_Horario] ([id_Horario], [dia], [horaApertura], [horaCierre]) VALUES (1, N'Domingo', N'09:00', N'00:00')
INSERT [dbo].[tb_Horario] ([id_Horario], [dia], [horaApertura], [horaCierre]) VALUES (2, N'Lunes -Martes', N'09:00', N'11:00')
INSERT [dbo].[tb_Horario] ([id_Horario], [dia], [horaApertura], [horaCierre]) VALUES (3, N'Miercoles - Sabado', N'09:00', N'20:00')
SET IDENTITY_INSERT [dbo].[tb_Horario] OFF
SET IDENTITY_INSERT [dbo].[tb_Pago] ON 

INSERT [dbo].[tb_Pago] ([idPago], [idTipoPago], [MontoCrediyo], [CantidadDebito], [FechaPago]) VALUES (1, 1, NULL, NULL, NULL)
INSERT [dbo].[tb_Pago] ([idPago], [idTipoPago], [MontoCrediyo], [CantidadDebito], [FechaPago]) VALUES (2, 1, NULL, NULL, NULL)
INSERT [dbo].[tb_Pago] ([idPago], [idTipoPago], [MontoCrediyo], [CantidadDebito], [FechaPago]) VALUES (3, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Pago] OFF
SET IDENTITY_INSERT [dbo].[tb_TipoPago] ON 

INSERT [dbo].[tb_TipoPago] ([idTipoPago], [nomTipoPago], [Deescripcion]) VALUES (1, N'Pago al contado', NULL)
INSERT [dbo].[tb_TipoPago] ([idTipoPago], [nomTipoPago], [Deescripcion]) VALUES (2, N'Paypal', NULL)
INSERT [dbo].[tb_TipoPago] ([idTipoPago], [nomTipoPago], [Deescripcion]) VALUES (3, N'Master Card', NULL)
SET IDENTITY_INSERT [dbo].[tb_TipoPago] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 06/12/2019 17:32:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 06/12/2019 17:32:41 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 06/12/2019 17:32:41 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 06/12/2019 17:32:41 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 06/12/2019 17:32:41 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 06/12/2019 17:32:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [Fk_Categoria] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[tb_Categoria] ([idCategoria])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [Fk_Categoria]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [Fk_Distrito] FOREIGN KEY([idDistrito])
REFERENCES [dbo].[tb_Distrito] ([idDistrito])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [Fk_Distrito]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [Fk_Horario] FOREIGN KEY([id_Horario])
REFERENCES [dbo].[tb_Horario] ([id_Horario])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [Fk_Horario]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Customers] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[tb_Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Customers]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Doctor] FOREIGN KEY([IdDoctor])
REFERENCES [dbo].[tb_Doctor] ([idDoctor])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Doctor]
GO
ALTER TABLE [dbo].[tb_Cliente]  WITH CHECK ADD FOREIGN KEY([idDistrito])
REFERENCES [dbo].[tb_Distrito] ([idDistrito])
GO
ALTER TABLE [dbo].[tb_ClienteEx]  WITH CHECK ADD FOREIGN KEY([idDistrito])
REFERENCES [dbo].[tb_Distrito] ([idDistrito])
GO
ALTER TABLE [dbo].[tb_ClienteEx]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tb_DetalleEnvio]  WITH CHECK ADD FOREIGN KEY([idDistrito])
REFERENCES [dbo].[tb_Distrito] ([idDistrito])
GO
ALTER TABLE [dbo].[tb_detalleOrden]  WITH CHECK ADD FOREIGN KEY([idDoctor])
REFERENCES [dbo].[tb_Doctor] ([idDoctor])
GO
ALTER TABLE [dbo].[tb_detalleOrden]  WITH CHECK ADD  CONSTRAINT [FK_IDORDEN_DETALLE] FOREIGN KEY([idOrden])
REFERENCES [dbo].[tb_OrdenExt] ([idOrden])
GO
ALTER TABLE [dbo].[tb_detalleOrden] CHECK CONSTRAINT [FK_IDORDEN_DETALLE]
GO
ALTER TABLE [dbo].[tb_Doctor]  WITH CHECK ADD FOREIGN KEY([id_Horario])
REFERENCES [dbo].[tb_Horario] ([id_Horario])
GO
ALTER TABLE [dbo].[tb_Doctor]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[tb_Categoria] ([idCategoria])
GO
ALTER TABLE [dbo].[tb_Doctor]  WITH CHECK ADD FOREIGN KEY([idDistrito])
REFERENCES [dbo].[tb_Distrito] ([idDistrito])
GO
ALTER TABLE [dbo].[tb_Doctor]  WITH CHECK ADD  CONSTRAINT [FK_placa_idCliente] FOREIGN KEY([idUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tb_Doctor] CHECK CONSTRAINT [FK_placa_idCliente]
GO
ALTER TABLE [dbo].[tb_ListaDeseos]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[tb_Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[tb_ListaDeseos]  WITH CHECK ADD FOREIGN KEY([idDoctor])
REFERENCES [dbo].[tb_Doctor] ([idDoctor])
GO
ALTER TABLE [dbo].[tb_ListaDeseosExt]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tb_ListaDeseosExt]  WITH CHECK ADD FOREIGN KEY([idDoctor])
REFERENCES [dbo].[tb_Doctor] ([idDoctor])
GO
ALTER TABLE [dbo].[tb_Orden]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[tb_Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[tb_Orden]  WITH CHECK ADD FOREIGN KEY([idDetalleEnvio])
REFERENCES [dbo].[tb_DetalleEnvio] ([idDetalleEnvio])
GO
ALTER TABLE [dbo].[tb_Orden]  WITH CHECK ADD FOREIGN KEY([idPago])
REFERENCES [dbo].[tb_Pago] ([idPago])
GO
ALTER TABLE [dbo].[tb_OrdenExt]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tb_OrdenExt]  WITH CHECK ADD FOREIGN KEY([idDetalleEnvio])
REFERENCES [dbo].[tb_DetalleEnvio] ([idDetalleEnvio])
GO
ALTER TABLE [dbo].[tb_OrdenExt]  WITH CHECK ADD FOREIGN KEY([idPago])
REFERENCES [dbo].[tb_Pago] ([idPago])
GO
ALTER TABLE [dbo].[tb_Pago]  WITH CHECK ADD FOREIGN KEY([idTipoPago])
REFERENCES [dbo].[tb_TipoPago] ([idTipoPago])
GO
ALTER TABLE [dbo].[tb_VistaReciente]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[tb_Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[tb_VistaReciente]  WITH CHECK ADD FOREIGN KEY([idDoctor])
REFERENCES [dbo].[tb_Doctor] ([idDoctor])
GO
/****** Object:  StoredProcedure [dbo].[sp_cod]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_cod]
as
select top 1 idOrden from tb_Orden order by idOrden desc



GO
/****** Object:  StoredProcedure [dbo].[sp_listaDistrito]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_listaDistrito]
as
begin
select * from tb_Distrito
end



GO
/****** Object:  StoredProcedure [dbo].[sp_reportez]    Script Date: 06/12/2019 17:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*create proc [dbo].[sp_reporteq](@cod int)
as 
SELECT    dbo.tb_Orden.idOrden, dbo.tb_Cliente.nomCliente, dbo.tb_Cliente.apeCliente, dbo.tb_Producto.nomProducto, dbo.tb_detalleOrden.precioUnidad, dbo.tb_detalleOrden.cantidad, dbo.tb_Cliente.telefono, 
                         dbo.tb_Cliente.direccion, dbo.tb_TipoPago.nomTipoPago, dbo.tb_Orden.cantidadTotal
FROM            dbo.tb_Producto INNER JOIN
                         dbo.tb_detalleOrden ON dbo.tb_Producto.idProducto = dbo.tb_detalleOrden.idProducto INNER JOIN
                         dbo.tb_Orden INNER JOIN
                         dbo.tb_Cliente ON dbo.tb_Orden.idCliente = dbo.tb_Cliente.idCliente ON dbo.tb_detalleOrden.idOrden = dbo.tb_Orden.idOrden INNER JOIN
                         dbo.tb_Pago ON dbo.tb_Orden.idPago = dbo.tb_Pago.idPago INNER JOIN
                         dbo.tb_TipoPago ON dbo.tb_Pago.idTipoPago = dbo.tb_TipoPago.idTipoPago
						 where tb_Cliente.idCliente = @cod and tb_Orden.idOrden=(select top 1 idOrden from tb_Orden order by idOrden desc)
GO*/
/****** Object:  StoredProcedure [dbo].[sp_reportex]    Script Date: 03/07/2019 18:44:27 ******/
/*SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO*/
/*create procedure [dbo].[sp_reportex](@cod int)
as
begin
SELECT        dbo.tb_Orden.idOrden, dbo.tb_Cliente.nomCliente, dbo.tb_Cliente.apeCliente, dbo.tb_Producto.nomProducto, dbo.tb_detalleOrden.precioUnidad, dbo.tb_detalleOrden.cantidad, dbo.tb_Cliente.telefono, 
                         dbo.tb_Cliente.direccion, dbo.tb_TipoPago.nomTipoPago, dbo.tb_Orden.cantidadTotal
FROM            dbo.tb_Producto INNER JOIN
                         dbo.tb_detalleOrden ON dbo.tb_Producto.idProducto = dbo.tb_detalleOrden.idProducto INNER JOIN
                         dbo.tb_Orden INNER JOIN
                         dbo.tb_Cliente ON dbo.tb_Orden.idCliente = dbo.tb_Cliente.idCliente ON dbo.tb_detalleOrden.idOrden = dbo.tb_Orden.idOrden INNER JOIN
                         dbo.tb_Pago ON dbo.tb_Orden.idPago = dbo.tb_Pago.idPago INNER JOIN
                         dbo.tb_TipoPago ON dbo.tb_Pago.idTipoPago = dbo.tb_TipoPago.idTipoPago
						 where tb_Cliente.idCliente = @cod 
end
GO*/
/****** Object:  StoredProcedure [dbo].[sp_reportez]    Script Date: 03/07/2019 18:44:27 ******/
/*SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO*/
CREATE procedure [dbo].[sp_reportez](@cod int,@codb int)
as
begin
SELECT        dbo.tb_Orden.idOrden, dbo.tb_Cliente.nomCliente, dbo.tb_Cliente.apeCliente, dbo.tb_Doctor.nomDoctor, dbo.tb_detalleOrden.precioUnidad, dbo.tb_Doctor.telDoctor, dbo.tb_Cliente.telefono, 
                         dbo.tb_Cliente.direccion, dbo.tb_TipoPago.nomTipoPago, dbo.tb_Orden.cantidadTotal
FROM            dbo.tb_Doctor INNER JOIN
                         dbo.tb_detalleOrden ON dbo.tb_Doctor.idDoctor = dbo.tb_detalleOrden.idDoctor INNER JOIN
                         dbo.tb_Orden INNER JOIN
                         dbo.tb_Cliente ON dbo.tb_Orden.idCliente = dbo.tb_Cliente.idCliente ON dbo.tb_detalleOrden.idOrden = dbo.tb_Orden.idOrden INNER JOIN
                         dbo.tb_Pago ON dbo.tb_Orden.idPago = dbo.tb_Pago.idPago INNER JOIN
                         dbo.tb_TipoPago ON dbo.tb_Pago.idTipoPago = dbo.tb_TipoPago.idTipoPago
						 where tb_Cliente.idCliente = @cod and tb_Orden.idOrden=@codb
end



GO
USE [master]
GO
